<div>
    <h1>Restore Password</h1>
    <div>
        <form action="/api/session/changePassword" method="post">        {{!-- action indica a que URL enviamos la informacion --}}
        <h2>Restore Password Form</h2>
                <label for="emailUser">email:</label>
                <input type="text" name="email" placeholder="email" id="emailForm" required>
                <br>
                <label for="passwordUser"> New Password:</label>
                <input type="text" name="password" placeholder="Password" id="password" required>
                <br>
        <button type="submit">Restore</button>
        </form>
    </div>
</div>


<script src="/socket.io/socket.io.js" /></script>       {{!-- Los scripts comunican las view con el socket --}}
<script src="/js/index.js" /></script>  {{!-- Con esta importacion, traigo el contenido del archivo index.js --}}