<div>
    <h1>eCommerce Chat</h1>
</div>

<div>
    <input id='chatBox'>{{!-- Caja de escritura de mensaje --}}
</div>
<div>
    <p id="messageLogs"></p>{{!-- Donde apareceran los mensajes enviados --}}
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>    {{!-- Importacion de SweetAlert --}}
<script src="/socket.io/socket.io.js" /></script>       {{!-- Los scripts comunican las view con el socket --}}
<script src="/js/index.js" /></script>  {{!-- Con esta importacion, traigo el contenido del archivo index.js --}}
<script>
    let user;       //usuario que ingresa su informacion
    let chatBox = document.getElementById('chatBox');   //traemos el chatBox con su ID

    //Animacion SweetAlert para ingresar usuario
Swal.fire({
    title: 'Identificate',
    text: 'Ingresa tu email:',
    icon: 'success',
    input:"text",
    inputValidator: (value) => {
        return !value && 'Necesitas ingresar tu email:'
    },
    allowOutsideClick:false //esto impide que evitemos la alerta clickeando en otro lugar de la pantalla
}).then (result => {
    user = result.value;    //cuando el usuario se loggea, guardamos el nombre en user
    swal.fire({             //y aparece un cartel de que el usuario se conecto al chat
        text: `${user} se ha conectado`,
        toast: true,
        position : 'top-right'
    })
});

//Evento para el ingreso de datos por ventana de chat
    chatBox.addEventListener('keyup', (event) => {
    if(event.key === 'Enter'){      //"trim()" elimina los espacios en blanco adelante y atras del texto
        if(chatBox.value.trim().length>0){  //corroboro que el mensaje no este vacio
            socket.emit('message', {user:user, message:chatBox.value});
            chatBox.value='';   //despues de enviar el mensaje, el input se borra
        }
    }
});

socket.on('messageLogs', (data) => {
    let log = document.getElementById('messageLogs');
    let messages = "";
    data.forEach((message) => {
        messages = messages + `${message.user} dice : ${message.message} </br>`;
    })
    log.innerHTML = messages;       //escribe en el html los mensajes
})
</script>