<div>
    <h1>Welcome to our websyte!</h1>
    <h2>I am your guide and my name is: {{testUser.name}} {{testUser.lastName}}</h2>
</div>

<script src="/socket.io/socket.io.js" /></script>       {{!-- Los scripts comunican las view con el socket --}}
<script src="/js/index.js" /></script>  {{!-- Con esta importacion, traigo el contenido del archivo index.js --}}