<div>
    <h1>Login</h1>
    <div>
        <form action="/api/session/login" method="post">        {{!-- action indica a que URL enviamos la informacion --}}
        <h2>Login Form</h1>
                <label for="emailUser">email:</label>
                <input type="text" name="email" placeholder="email" id="emailForm" required>
                <br>
                <label for="passwordUser">Password:</label>
                <input type="text" name="password" placeholder="Password" id="password" required>
                <br>
        <button type="submit">Login</button>
        </form>
    </div>
</div>