<div>
        <h1>Restore your password</h1>
        <form action="/passwordRestore" method="post">        {{!-- action indica a que URL enviamos la informacion --}}
        <h2>Restore Password Form</h1>
                <br>
                <label for="emailUser">email:</label>
                <input type="text" name="email" placeholder="email" id="emailForm" required>
                <br>
        <button type="submit">Login</button>
        </form>
</div>