<div>
    <h1>Welcome user!</h1>
    <div>
        <h2>Profile User</h1>
        <div>
            <h3>First Name: {{user.firstName}}</h3>
            <h3>Last Name: {{user.lastName}}</h3>
            <h3>Email: {{user.email}}</h3>
            <h3>Age: {{user.age}}</h3>
        </div>
    </div>
</div>

<a href="/api/session/logout">Logout</a>

<script src="/socket.io/socket.io.js" /></script>       {{!-- Los scripts comunican las view con el socket --}}
<script src="/js/index.js" /></script>  {{!-- Con esta importacion, traigo el contenido del archivo index.js --}}