<div>
    <h1>Welcome user!</h1>
    <div>
        <h2>Profile User</h1>
        <div>
            <h3>First Name: {{firstName}}</h2>
            <h3>Last Name: {{lastName}}</h2>
            <h3>Email: {{email}}</h2>
            {{!-- <h3>Rol: {{rol}}</h2> --}}
        </div>
    </div>
</div>
