<div>
    <h1>Restore Password</h1>
    <div>
        <form action="/restorePasswordPage/{{token}}" method="post">        {{!-- action indica a que URL enviamos la informacion --}}
        <h2>Restore Password Form</h2>
                <br>
                <label for="newPassword"> New Password:</label>
                <input type="text" name="newPassword" placeholder="New Password" id="newPassword" required>
                <br>
        <button type="submit">Restore</button>
        </form>
    </div>
</div>


<script src="/socket.io/socket.io.js" /></script>       {{!-- Los scripts comunican las view con el socket --}}
<script src="/js/index.js" /></script>  {{!-- Con esta importacion, traigo el contenido del archivo index.js --}}