<div>
    <h1>Sing Up</h1>
    <div>
        <form action="/api/session/singup" method="post">       {{!-- action indica a que URL enviamos la informacion --}}
        <h2>Registration Form</h1>
                <label for="productTitle">Fist Name:</label>
                <input type="text" name="firstName" placeholder="First Name" id="firstNameForm" required>
                <br>
                <label for="productDescription">Last Name:</label>
                <input type="text" name="lastName" placeholder="Last Name" id="lastNameForm" required>
                <br>
                <label for="productPrice">email:</label>
                <input type="text" name="email" placeholder="email" id="emailForm" required>
                <br>
                <label for="productPrice">Password:</label>
                <input type="text" name="password" placeholder="Password" id="password" required>
                <br>
        <button type="submit">Confirm Registration</button>
        </form>
    </div>
</div>